body {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: #3498db;
}

p {
    color: #e74c3c;
}

input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
}
